body {
    font-family: 'Arial', sans-serif;
}

header.jumbotron {
    background-color: #343a40;
    color: white;
    height: 100vh; /* Ocupa toda a altura da tela */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
}

header.jumbotron h1, header.jumbotron p {
    margin: 0;
}

section {
    padding-top: 50px;
}

section#sobre img {
    max-width: 100%;
    height: auto;
}

.card img {
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: white;
}

section#skills ul {
    list-style-type: none;
    padding: 0;
}

section#skills ul li {
    background: #f8f9fa;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
}

.navbar-brand {
    font-size: 1.5rem;
    padding: 0.5rem;
}

.navbar-brand i {
    color: white;
}

.navbar-brand i:hover {
    color: #007bff;
}
