body {
    font-family: 'Arial', sans-serif;
}

header.jumbotron {
    background-color: #343a40;
    color: white;
}

header.jumbotron h1, header.jumbotron p {
    margin: 0;
}

section {
    padding-top: 50px;
}

section#sobre img {
    max-width: 100%;
    height: auto;
}

.card img {
    height: 200px;
    object-fit: cover;
}

footer {
    background-color: #343a40;
    color: white;
}
